body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-studio {
    color: #2e2f42;
}
.nav-menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-menu:hover, .nav-menu:focus {
    color: #404bbf;
    }
address {
    font-style: normal;
}
.contact {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact:hover, .contact:focus {
    color: #404bbf;
}
.firstsec {
    background-color: #2e2f42;
}
.losung {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.button {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.button:hover, .button:focus {
    background-color: #404bbf;
}
.benefit {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.parag {
    line-height: 1.5;
    letter-spacing: 0.02em;
}